%h1= t(:login) 

.row
  .col-md-6
    = form_tag login_path, method: :post do
      .form-group
        =label_tag t(:email)
        =text_field_tag :email, nil, class: "form-control"
      .form-group
        =label_tag t(:password)
        =password_field_tag :password, nil, class: "form-control"
      .form-group
        =submit_tag t(:login), class: "form-control"
